{
 :mvn/repos {"psiegman" {:url "https://raw.githubusercontent.com/psiegman/mvn-repo/master/releases/"}}

 :paths     ["src" "experimental" "resources"]

 :aliases

 {
  :web      {:main-opts ["-m" "pyjama.games.web"]}
  }

 :deps
 {org.clojure/clojure     {:mvn/version "1.12.0"}
  hellonico/pyjama
  {:git/url "https://github.com/hellonico/pyjama.git"  :sha     "972d989e3269545fa81dc22533b52b3312ece982"}
  ;{:local/root "../pyjama"}
  hellonico/pyjama-io
  {:local/root "../pyjama-io"}
  org.clojure/data.csv    {:mvn/version "1.1.0"}

  ring/ring               {:mvn/version "1.13.0"}
  ring-cors/ring-cors     {:mvn/version "0.1.13"}
  compojure/compojure     {:mvn/version "1.7.1"}
  http-kit/http-kit       {:mvn/version "2.6.0"}
  ring/ring-jetty-adapter {:mvn/version "1.9.6"}
  cheshire/cheshire       {:mvn/version "5.11.0"}

  }
 }